<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.crm.mapper.CustomerMapper">
    <resultMap id="customerMap" type="com.echo.crm.entry.Customer">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <result property="mobile" column="c_mobile"/>
        <result property="address" column="c_address"/>
        <result property="disabled" column="c_disabled"/>
        <result property="priority" column="c_priority"/>
        <result property="remark" column="c_remark"/>
    </resultMap>
    <select id="selectByKeyword" resultMap="customerMap">
        select
            c.id as c_id,
            c.name as c_name,
            c.mobile as c_mobile,
            c.address as c_address,
            c.disabled as c_disabled,
            c.priority as c_priority,
            c.remark as c_remark
        from tbl_customer c
        <if test="key != null and key != ''">
            where (
                name like concat('%', #{key}, '%')
                or mobile like concat('%', #{key}, '%')
            )
        </if>
        order by c.priority desc, c.id asc
    </select>
    <select id="selectById" resultMap="customerMap">
        select
            c.id as c_id,
            c.name as c_name,
            c.mobile as c_mobile,
            c.address as c_address,
            c.disabled as c_disabled,
            c.priority as c_priority,
            c.remark as c_remark
        from tbl_customer c
        where c.id = #{id}
    </select>
</mapper>
