<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.crm.mapper.CustomerMapper">
    <select id="selectByKeyword" resultType="com.echo.crm.entry.Customer">
        select *
        from tbl_customer
        where disabled = 0
        <if test="key != null and key != ''">
            and (
              name like concat('%', #{key}, '%')
              or address like concat('%', #{key},'%')
            )
        </if>
        order by id desc
    </select>
</mapper>
