<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.crm.mapper.PermissionMapper">
	<resultMap id="permissionMap" type="com.echo.crm.entry.Permission">
		<id property="id" column="p_id"/>
		<result property="name" column="p_name"/>
		<result property="value" column="p_value"/>
	</resultMap>
	<delete id="deleteRolePermissionRelation">
		delete from tbl_role_permission
		where permission_id = #{permissionId}
	</delete>
	<select id="selectByKeyword" resultMap="permissionMap">
		select
			p.id as p_id,
			p.name as p_name,
			p.value as p_value
		from tbl_permission p
		<if test="key != null and key != ''">
			where (
			p.name like concat('%', #{key},'%')
			or p.value like concat('%', #{key}, '%')
			)
		</if>
	</select>
	<resultMap id="permissionWithRoleIdMap" type="com.echo.crm.entry.Permission">
		<id property="id" column="r_id"/>
		<result property="name" column="p_name"/>
		<result property="value" column="p_value"/>
		<result property="roleId" column="r_id"/>
	</resultMap>
	<select id="selectByRoleIds" resultMap="permissionWithRoleIdMap">
		select
			rp.role_id as r_id,
			p.id as p_id,
			p.name as p_name,
			p.value as p_value,
			p.remark as p_remark
		from tbl_role_permission rp
		inner join tbl_permission p on rp.permission_id = p.id
		where rp.role_id in
		<foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
			#{roleId}
		</foreach>
	</select>
</mapper>
