<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.crm.mapper.UserMapper">
    <select id="selectByKeyword" resultType="com.echo.crm.entry.User">
        select *
        from tbl_user u
        where u.disabled = 0
        <if test="key != null and key != ''">
            and (u.id = #{key}
                or u.account like concat('%', #{key}, '%')
                or u.name like concat('%', #{key},'%')
                or u.mobile like concat('%', #{key},'%')
            )
        </if>
        order by id asc
    </select>
    <select id="selectByAccount" resultType="com.echo.crm.entry.User">
       select u.*
       from tbl_user u
       where u.account = #{account}
    </select>

</mapper>
